:root {
    --true-color: #2ecc71;
    --false-color: #e74c3c;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.6);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    color: white;
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        opacity: 1;
        transition: opacity 3s;
    }
    &.backgroundImage-loaded::after {
        opacity: 0;
    }
}

#container {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    user-select: none;
    #title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        #title {
            font-size: x-large;
        }
        #counters {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70px;
            height: 30px;
            .counter {
                width: 26px;
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
            #counter-false {
                color: var(--false-color);
                border: 1px solid var(--false-color);
            }
            #counter-true {
                color: white;
                background: var(--true-color);
                border: 1px solid var(--true-color);
                animation-name: pulse;
                animation-duration: 0.6s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;
            }
        }
    }
    .row {
        width: 300px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &.clicked {
            .status-container {
                width: 90px;
            }
        }
        &[data-status="false"] {
            color: var(--false-color);
            .status[data-value="false"] {
                order: 1;
            }
            .status[data-value="undefined"] {
                order: 2;
            }
            .status[data-value="true"] {
                order: 3;
            }
        }
        &[data-status="undefined"] {
            .status[data-value="false"] {
                order: 2;
            }
            .status[data-value="undefined"] {
                order: 1;
            }
            .status[data-value="true"] {
                order: 3;
            }
        }
        &[data-status="true"] {
            color: var(--true-color);
            .status[data-value="false"] {
                order: 3;
            }
            .status[data-value="undefined"] {
                order: 2;
            }
            .status[data-value="true"] {
                order: 1;
            }
        }
        .status-container {
            width: 30px;
            height: 30px;
            display: flex;
            overflow: hidden;
            transition: width .2s ease-in-out;
            .status {
                width: 20px;
                height: 20px;
                margin: 5px;
                flex-shrink: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                &[data-value="true"] {
                    background-image: url("../images/true.png");
                }
                &[data-value="undefined"] {
                    background-image: url("../images/undefined.png");
                }
                &[data-value="false"] {
                    background-image: url("../images/false.png");
                }
            }
        }
    }
    .logo {
        width: 80%;
        margin: 0 auto;
    }
}

.alert {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 220px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    &.false .icon {
        background-image: url("../images/false.svg");
    }
    &.undefined .icon {
        background-image: url("../images/undefined.svg");
    }
    &.true .icon {
        background-image: url("../images/true.svg");
    }
    cursor: pointer;
    .icon {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}