:root {
  --true-color: #2ecc71;
  --false-color: #e74c3c;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial;
  color: white;
}

body::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

body.backgroundImage-loaded::after {
  opacity: 0;
}

#container {
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#container #title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

#container #title-container #title {
  font-size: x-large;
}

#container #title-container #counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 30px;
}

#container #title-container #counters .counter {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

#container #title-container #counters #counter-false {
  color: var(--false-color);
  border: 1px solid var(--false-color);
}

#container #title-container #counters #counter-true {
  color: white;
  background: var(--true-color);
  border: 1px solid var(--true-color);
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#container .row {
  width: 300px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

#container .row.clicked .status-container {
  width: 90px;
}

#container .row[data-status="false"] {
  color: var(--false-color);
}

#container .row[data-status="false"] .status[data-value="false"] {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#container .row[data-status="false"] .status[data-value="undefined"] {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#container .row[data-status="false"] .status[data-value="true"] {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#container .row[data-status="undefined"] .status[data-value="false"] {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#container .row[data-status="undefined"] .status[data-value="undefined"] {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#container .row[data-status="undefined"] .status[data-value="true"] {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#container .row[data-status="true"] {
  color: var(--true-color);
}

#container .row[data-status="true"] .status[data-value="false"] {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#container .row[data-status="true"] .status[data-value="undefined"] {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#container .row[data-status="true"] .status[data-value="true"] {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#container .row .status-container {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

#container .row .status-container .status {
  width: 20px;
  height: 20px;
  margin: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container .row .status-container .status[data-value="true"] {
  background-image: url("../images/true.png");
}

#container .row .status-container .status[data-value="undefined"] {
  background-image: url("../images/undefined.png");
}

#container .row .status-container .status[data-value="false"] {
  background-image: url("../images/false.png");
}

#container .logo {
  width: 80%;
  margin: 0 auto;
}

.alert {
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  width: 220px;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.alert.false .icon {
  background-image: url("../images/false.svg");
}

.alert.undefined .icon {
  background-image: url("../images/undefined.svg");
}

.alert.true .icon {
  background-image: url("../images/true.svg");
}

.alert .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */