:root {
  --myColor: SteelBlue;
  --backgroundColor: White;
  --activeColor: FireBrick;
  --disabledColor: LightGray;
  --black: Black;
  --gray: Gray;
  --white: White;
  --bar_height: 35px;
  --myFont: "Raleway";
  --myFontSize: 13px; /* if larger check b&w effect*/
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: var(--myFont);
  font-size: var(--myFontSize);
  color: var(--myColor);
  background-color: var(--gray);
  background-image: radial-gradient(var(--myColor), var(--black) 90%);
}

body * {
  user-select: none;
}

.topPanel {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--bar_height);
  z-index: 30;
  background-color: var(--white);
}

.topPanel[class*="active"] {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 15px var(--black);
}

.canvas-container {
  /*background-image: url(../images/transparency.png);*/
  box-shadow: 0 0 10px black;
}

.textButton:hover {
  opacity: 0.5;
  cursor: pointer;
}

.svgButton {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: 0 none;
}

.svgButton[class*="disabled"] {
  cursor: no-drop;
}

.svgButton svg * {
  fill: var(--myColor);
}

.svgButton:hover svg {
  opacity: 0.5;
}

.svgButton[class*="active"] svg * {
  fill: var(--activeColor);
}

.svgButton[class*="disabled"] svg * {
  fill: var(--disabledColor);
}

.overlay {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 40;
  background: rgba(0, 0, 0, 0.8);
}

.overlay.active {
  display: flex;
}

.overlayCard {
  width: 250px;
  background: var(--white);
  border: 2px solid var(--myColor);
  border-radius: 10px;
}

.overlayCardContent {
  padding: 10px;
}

.overlayCardButtons {
  width: 100%;
  height: 40px;
  border-top: 1px solid var(--myColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dropdown {
  position: relative;
  outline: none;
  user-select: none;
}

.dropdownOpen .dropdownHidden {
  display: block;
}

.dropdownHidden {
  display: none;
  position: absolute;
  top: 100%;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 0 20px 15px var(--black);
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  cursor: pointer;
  outline: 0 none;
}

.grab {
  cursor: grab !important;
}

.grabbing {
  cursor: grabbing !important;
}

.eyeDropping {
  cursor: crosshair !important;
}

.mlr10 {
  margin-left: 10px;
  margin-right: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mlr5 {
  margin-left: 5px;
  margin-right: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mlr2 {
  margin-left: 2px;
  margin-right: 2px;
}

.ml2 {
  margin-left: 2px;
}

.mr2 {
  margin-right: 2px;
}

.optionEditableContainer {
  display: flex;
  align-items: center;
  border: 1px solid var(--myColor);
  border-radius: 4px;
  outline: none;
}

.optionEditableContainer .optionEditableTitle {
  padding: 5px;
  border-right: 1px solid var(--myColor);
}

.optionEditableTitle svg path {
  fill: var(--myColor);
}

.optionEditableInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
  text-align: center;
  font-family: var(--myFont);
  color: var(--myColor);
}

.assetContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid var(--gray);
  border-radius: 4px;
  margin: 10px;
  padding: 2px;
  box-shadow: 5px 10px 8px var(--gray);
}

.assetContainer:hover {
  cursor: pointer;
  opacity: 0.3;
  border: 1px solid transparent;
  box-shadow: none;
}

.asset {
  max-height: 100px;
  max-width: 100px;
}

#mainMenu {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: var(--bar_height);
  z-index: 30;
  background-color: var(--white);
  box-shadow: 0 0 20px 5px var(--black);
}

#secondaryMenu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--bar_height);
  z-index: 30;
  background-color: var(--white);
  box-shadow: 0 0 20px 5px var(--black);
}

#spectrumTrigger_backgroundColor {
  width: 20px;
  height: 20px;
  border: 1px solid var(--myColor);
  background: url(../images/transparency.png);
}

/* Clip Panel */
#button_startClipEllipse svg path {
  fill: var(--myColor);
}

#button_startClipRectangle svg path {
  fill: var(--myColor);
}

#finishClippingContainer {
  align-items: center;
}

#button_linkClipDimensions {
  margin: 0 10px;
}

#button_linkClipDimensions svg path {
  fill: var(--disabledColor);
}

#button_linkClipDimensions[class*='linked'] svg path {
  fill: var(--activeColor);
}

/* LAYERS PANEL */
#layersPanel {
  display: block;
  position: fixed;
  overflow: hidden;
  top: calc(2 * var(--bar_height));
  right: 15px;
  width: 250px;
  height: calc(100% - 4 * var(--bar_height));
  z-index: 20;
  background: var(--white);
  box-shadow: 0 0 15px 5px var(--black);
  border-radius: 4px;
}

#previewPanel {
  width: 250px;
  height: 100px;
  margin: 10px 0;
  box-sizing: border-box;
}

#previewContainer {
  position: relative;
  margin: 0 10px;
  width: 250px;
  height: 100px;
  background-color: var(--backgroundColor);
  box-sizing: border-box;
}

#previewImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 1px solid var(--myColor);
}

#layersListTitle {
  width: 250px;
  height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 5px 0;
  color: var(--white);
  background: var(--myColor);
}

#layersScroll {
  position: relative;
  height: calc(100% - 155px);
}

#layersList {
  margin-left: 8px;
}

.layerItem {
  margin: -1px 0;
  height: 30px;
  width: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.layerItem[class*="active"] .layerName {
  color: var(--activeColor);
  font-weight: bold;
}

.layerItem .layerHandle svg * {
  fill: var(--myColor);
}

.layerItem[class*="active"] .layerHandle svg * {
  fill: var(--activeColor);
}

.layerHandle {
  width: 15px;
  height: 15px;
  cursor: grab;
  margin: 0 10px 0 0;
}

.layerHandle svg {
  height: 15px;
}

.layerName {
  background: transparent;
  border: none !important;
  outline: 0 none;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 200px;
  color: var(--myColor);
  text-overflow: ellipsis;
  font-family: var(--myFont);
}

.layerName:focus {
  border-bottom: 1px solid var(--myColor) !important;
}

/* ARTBOARD */
#artboard {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
}

/* OVERLAYS */
#blockOverlay {
  font-size: 30px;
  color: var(--white);
}

#alertTitle {
  font-weight: bold;
}

#settingsOverlay .overlayCardContent .optionEditableContainer {
  margin: 20px;
}

#settingsOverlay .overlayCardContent .optionEditableTitle {
  width: 100px;
}

#settingsOverlay .overlayCardContent .optionEditableInput {
  width: 100px;
}

#iconfinderContainer {
  flex-direction: column;
  border: 2px solid var(--myColor);
  border-radius: 10px;
  padding: 0 20px;
  background: var(--white);
}

#iconfinderSearchContainer {
  margin: 20px;
  border: 1px solid var(--myColor);
  border-radius: 4px;
}

#iconfinderSearchQuery {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  padding: 0;
  text-align: center;
  font-family: var(--myFont);
  color: var(--myColor);
}

#iconfinderList {
  width: 700px;
  height: 500px;
  flex-wrap: wrap;
}

#button_closeIconfinder {
  margin: 20px;
}

#drawingsContainer {
  flex-direction: column;
  border: 2px solid var(--myColor);
  border-radius: 10px;
  padding: 0 20px;
  background: var(--white);
}

#drawingsList {
  width: 1220px;
  height: 500px;
  flex-wrap: wrap;
}

#drawingsFolders {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.drawingsFolder:not(.selected):hover {
  cursor: pointer;
  opacity: 0.5;
}

.drawingsFolder[class*='selected'] {
  color: var(--activeColor);
}

#drawingsPagination {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#drawingsInfoPagination {
  width: 300px;
  text-align: center;
}

.drawingsPageButton:not(.disabled):hover {
  cursor: pointer;
}

.drawingsPageButton:not(.disabled):hover svg * {
  fill: var(--myColor);
}

.drawingsPageButton[class*='disabled'] svg * {
  fill: var(--disabledColor);
}

#button_closeDrawings {
  margin: 20px;
}

/* Objects Options Panel */
#button_imageFx .dropdownTrigger svg * {
  fill: var(--myColor);
}

#button_imageFx[class*='dropdownOpen'] .dropdownTrigger svg * {
  fill: var(--activeColor);
}

#button_imageFx[class*='hasActiveFilter'] .dropdownTrigger svg * {
  fill: var(--activeColor);
}

#button_imageFx .dropdownHidden {
  width: 350px;
  overflow: hidden;
}

.imageFx_sectionTitle {
  width: 330px;
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: var(--myColor);
  color: var(--white);
}

#imageFx_section_imageFilters .imageFx_sectionTitle,
#imageFx_section_fxEffects .imageFx_sectionTitle {
  justify-content: flex-start;
}

#imageFx_section_grayscale .imageFx_sectionTitle,
#imageFx_section_gamma .imageFx_sectionTitle,
#imageFx_section_blendColor .imageFx_sectionTitle {
  justify-content: space-between;
}

.imageFx_switchContainer {
  height: 20px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--disabledColor);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.imageFx_switchContainer[class*='active'] {
  justify-content: flex-end;
  background-color: var(--white);
}

.imageFx_switch {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid var(--myColor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.imageFx_innerSwitch {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--myColor);
}

.imageFx_switchContainer[class*='active'] .imageFx_innerSwitch {
  background-color: var(--activeColor);
}

.imageFx_sectionOptions {
  width: 330px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

#button_resetImageFx {
  display: none;
  width: 100%;
  height: 30px;
  background: var(--activeColor);
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

#button_resetImageFx:hover {
  opacity: 0.5;
}

#imageFx_section_imageFilters .imageFx_option {
  width: 110px;
  margin: 5px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#imageFx_section_grayscale .imageFx_option {
  width: 110px;
  margin: 2px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#imageFx_section_fxEffects .imageFx_option {
  width: 160px;
  margin: 2px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#imageFx_section_fxEffects .separator {
  width: 10px;
}

#imageFx_section_fxEffects .imageFx_type {
  width: 96px;
}

#imageFx_section_fxEffects .inputValue {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40px;
  outline: none;
  border: 1px solid var(--disabledColor);
  border-radius: 4px;
  text-align: center;
  font-family: var(--myFont);
  color: var(--myColor);
}

#imageFx_section_fxEffects .inputRange {
  -webkit-appearance: none;
  width: 165px;
  height: 20px;
  background: transparent;
  margin: 0;
}

#imageFx_section_fxEffects .inputRange:focus {
  outline: none;
}

#imageFx_section_fxEffects .inputRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--disabledColor);
}

#imageFx_section_fxEffects .inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--disabledColor);
  cursor: pointer;
  margin-top: -5px;
}

#imageFx_section_fxEffects .imageFx_checkboxContainer[class*="checked"] .inputValue {
  border: 1px solid var(--myColor);
  color: var(--myColor);
}

#imageFx_section_fxEffects .imageFx_checkboxContainer[class*="checked"] .inputRange::-webkit-slider-runnable-track {
  background: var(--myColor);
}

#imageFx_section_fxEffects .imageFx_checkboxContainer[class*="checked"] .inputRange::-webkit-slider-thumb {
  background: var(--myColor);
}

#imageFx_section_gamma .imageFx_option {
  width: 160px;
  margin: 2px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#imageFx_section_gamma .separator {
  width: 10px;
}

#imageFx_section_gamma .imageFx_type {
  width: 116px;
  color: var(--disabledColor);
}

#imageFx_section_gamma .inputValue {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40px;
  outline: none;
  border: 1px solid var(--disabledColor);
  border-radius: 4px;
  text-align: center;
  font-family: var(--myFont);
  color: var(--disabledColor);
}

#imageFx_section_gamma .inputRange {
  -webkit-appearance: none;
  width: 165px;
  height: 20px;
  background: transparent;
}

#imageFx_section_gamma .inputRange:focus {
  outline: none;
}

#imageFx_section_gamma .inputRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--disabledColor);
}

#imageFx_section_gamma .inputRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--disabledColor);
  cursor: pointer;
  margin-top: -5px;
}

#imageFx_section_gamma .imageFx_option[class*='active'] .imageFx_type {
  color: var(--myColor);
}

#imageFx_section_gamma .imageFx_option[class*='active'] .inputValue {
  border: 1px solid var(--myColor);
  color: var(--myColor);
}

#imageFx_section_gamma .imageFx_option[class*='active'] #gammaRedRange::-webkit-slider-runnable-track {
  background: #FFE6E6;
}

#imageFx_section_gamma .imageFx_option[class*='active'] #gammaRedRange::-webkit-slider-thumb {
  background: #FF0000;
}

#imageFx_section_gamma .imageFx_option[class*='active'] #gammaGreenRange::-webkit-slider-runnable-track {
  background: #E6FFE6;
}

#imageFx_section_gamma .imageFx_option[class*='active'] #gammaGreenRange::-webkit-slider-thumb {
  background: #00FF00;
}

#imageFx_section_gamma .imageFx_option[class*='active'] #gammaBlueRange::-webkit-slider-runnable-track {
  background: #E6E6FF;
}

#imageFx_section_gamma .imageFx_option[class*='active'] #gammaBlueRange::-webkit-slider-thumb {
  background: #0000FF;
}

.imageFx_checkbox {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
  box-sizing: border-box;
  border: 1px solid var(--myColor);
  border-radius: 4px;
  cursor: pointer;
}

.imageFx_checkbox svg {
  display: none;
}

.imageFx_checkbox svg * {
  fill: var(--myColor);
}

.imageFx_checkboxContainer[class*="checked"] .imageFx_checkbox {
  border: 1px solid var(--myColor);
}

.imageFx_checkboxContainer[class*="checked"] .imageFx_checkbox svg {
  display: block;
}

.imageFx_checkboxContainer .imageFx_type {
  color: var(--myColor);
}

.imageFx_checkboxContainer[class*="checked"] .imageFx_type {
  color: var(--myColor);
}

.imageFx_radio {
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
  box-sizing: border-box;
  border: 1px solid var(--disabledColor);
  border-radius: 50%;
  cursor: pointer;
}

.imageFx_radio svg {
  display: none;
}

.imageFx_radioContainer[class*="checked"] .imageFx_radio {
  border: 1px solid var(--myColor);
}

.imageFx_radioContainer[class*="checked"] .imageFx_radio svg {
  display: block;
}

.imageFx_radioContainer[class*="checked"] .imageFx_radio svg * {
  fill: var(--myColor);
}

.imageFx_radioContainer .imageFx_type {
  color: var(--disabledColor);
}

.imageFx_radioContainer[class*="checked"] .imageFx_type {
  color: var(--myColor);
}

#spectrumTrigger_singleColor {
  width: 20px;
  min-width: 20px;
  height: 20px;
  border: 2px solid var(--myColor);
  border-radius: 6px;
}

#button_clip svg * {
  fill: var(--myColor);
}

#button_clip[class*='hasClip'] svg * {
  fill: var(--activeColor);
}

#fontFamilyContainer {
  height: 24px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--myColor);
}
#fontFamilyContainer svg {
  margin: 0 5px;
}
#fontFamilyContainer svg path {
  fill: var(--myColor);
}
#div_fontSelected {
  margin-left: 5px;
  margin-right: 10px;
  outline: none;
}
#fontsDropdown {
  width: 300px;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#fontsDropdownTitle {
  width: 290px;
  height: 30px;
  padding-left: 10px;
  font-size: 13px;
  background: var(--myColor);
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
#fontsContainer {
  width: 285px;
  margin: 0 10px;
  height: 400px;
  overflow: hidden;
  position: relative;
  text-align: left !important;
}
#fontsContainer .fontOption {
  height: 32px;
  display: flex;
  align-items: center;
}
#fontsContainer .fontOption:hover {
  cursor: pointer;
  opacity: 0.5;
}
#fontsContainer .fontOption[class*='selected'] {
  /*color: var(--activeColor):*/
}

#borderRadiusSvg rect {
  fill: var(--myColor);
}
#borderRadiusSvg path {
  stroke: var(--activeColor);
}

#objectsOptionsPanel .alignObject svg *,
#objectsOptionsPanel .rotateObject svg *,
#objectsOptionsPanel .flipObject svg *,
#objectsOptionsPanel .stack svg * {
  fill: var(--myColor);
}

#input_fontSize {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 24px;
  width: 35px;
  cursor: pointer;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--myColor);
  padding: 0;
  text-align: center;
  font-family: var(--myFont);
  color: var(--myColor);
}

.alignText svg * {
  fill: var(--myColor);
}

.alignText[class*='active'] svg * {
  fill: var(--activeColor);
}

#button_linkDimensions {
  width: 15px;
  height: 20px;
}

#button_linkDimensions svg * {
  fill: var(--disabledColor);
}

#button_linkDimensions[class*='linked'] svg * {
  fill: var(--activeColor);
}

#range_rectangleBorderRadius {
  -webkit-appearance: none;
  width: 100px;
  height: 20px;
  background: transparent;
}

#range_rectangleBorderRadius::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--myColor);
  cursor: pointer;
}

#range_rectangleBorderRadius:focus {
  outline: none;
}

#range_rectangleBorderRadius::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--myColor);
  /*border-radius: 50%;*/
}

#range_rectangleBorderRadius::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--myColor);
  cursor: pointer;
  margin-top: -8px;
}

#range_rectangleBorderRadius::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--myColor);
  border-color: transparent;
  color: transparent;
}

#range_rectangleBorderRadius::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--myColor);
  cursor: pointer;
}

#button_fitToCanvas svg *,
#button_clone svg *,
#button_delete svg * {
  fill: var(--myColor);
}