.ps__rail-x,
.ps__rail-y {
    opacity: 0.6;
}
.ps__thumb-y {
    width: 8px;
    border-radius: 0;
}
.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y {
    background-color: #999;
    width: 8px;
}
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
    background-color: transparent;
    opacity: .9;
}