:root {
    --true-color: #2ecc71;
    --false-color: #e74c3c;
    --rowNum: 1;
    --colNum: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    #fullscreen {
        width: 100vw;
        height: 100vh;
        position: relative;
        background-image: url(../images/fundo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: grid;
        grid-template-rows: repeat(var(--rowNum), 1fr);
        grid-template-columns: repeat(var(--colNum), 1fr);
    }
    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1;
        #actions {
            width: 200px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .action {
                width: 40px;
                height: 40px;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        &[data-status="true"] {
            .button,
            .button-mobile {
                color: white;
                background: var(--true-color);
            }
        }
        &[data-status="false"] {
            .button,
            .button-mobile {
                color: white;
                background: var(--false-color);
            }
        }
        .button {
            background: white;
            cursor: pointer;
            &:hover {
                background: black;
                color: white;
            }
        }
        .button-mobile {
            width: 40px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            display: flex;
            @media screen and (min-width: 768px) {
                display: none;
            }
            justify-content: center;
            align-items: center;
        }
        .button-desktop {
            padding: 5px 20px;
            border-radius: 5px;
            display: none;
            @media screen and (min-width: 768px) {
                display: block;
            }
            text-align: center;
            width: min-content;
        }
    }
}