:root {
  --true-color: #2ecc71;
  --false-color: #e74c3c;
  --rowNum: 1;
  --colNum: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial;
}

body #fullscreen {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../images/fundo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[var];
      grid-template-rows: repeat(var(--rowNum), 1fr);
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--colNum), 1fr);
}

body #overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

body #overlay #actions {
  width: 200px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #overlay #actions .action {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

body #overlay #actions .action img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .item[data-status="true"] .button,
body .item[data-status="true"] .button-mobile {
  color: white;
  background: var(--true-color);
}

body .item[data-status="false"] .button,
body .item[data-status="false"] .button-mobile {
  color: white;
  background: var(--false-color);
}

body .item .button {
  background: white;
  cursor: pointer;
}

body .item .button:hover {
  background: black;
  color: white;
}

body .item .button-mobile {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  body .item .button-mobile {
    display: none;
  }
}

body .item .button-desktop {
  padding: 5px 20px;
  border-radius: 5px;
  display: none;
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

@media screen and (min-width: 768px) {
  body .item .button-desktop {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */