@keyframes rotateY {
    0% { transform: rotateY(0deg) rotateX(0deg); }

    50% { transform: rotateY(180deg) rotateX(22deg); }

    100% { transform: rotateY(360deg) rotateX(0deg); }
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fullscreen {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../images/fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

#container {
    padding: 100px;
    display: inline-block;
    margin: 0 auto;
    flex-wrap: wrap;
    perspective: 1600px;
    perspective-origin: center center;
}

#cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateY 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    @media only screen and (min-width: 576px) {
        width: 400px;
        height: 400px;
        animation: rotateY 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-delay: 3s;
    }
    &:after {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        left: 50%;
        width: 220px;
        height: 220px;
        transform: translateX(-50%) translateY(175px) rotateX(90deg) rotateY(-180deg);
        @media only screen and (min-width: 576px) {
            width: 425px;
            height: 425px;
            transform: translateX(-50%) translateY(350px) rotateX(90deg) rotateY(-180deg);
        }
    }
    &.paused {
        animation-play-state: paused;
    }
    .cube-face {
        border: 1px solid white;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        .text-container {
            width: 80%;
            height: 80%;
            @media only screen and (min-width: 576px) {
                width: 50%;
                height: 50%;
            }
            border: 1px solid white;
            border-radius: 50%;
            color: white; 
            background: rgba(0,0,0,0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .date {
                font-size: larger;
                border-bottom: 1px solid white;
                margin-bottom: 15px;
            }
        }
    }
}

#front {
    transform: translateZ(100px);
    @media only screen and (min-width: 576px) {
        transform: translateZ(200px);
    }
}

#back {
    transform: translateZ(-100px) rotateY(180deg);
    @media only screen and (min-width: 576px) {
        transform: translateZ(-200px) rotateY(180deg);
    }
}

#bottom {
    transform: translateY(100px) rotateX(90deg) rotateY(-180deg);
    @media only screen and (min-width: 576px) {
        transform: translateY(200px) rotateX(90deg) rotateY(-180deg);
    }
}

#top {
    transform: translateY(-100px) rotateX(90deg);
    @media only screen and (min-width: 576px) {
        transform: translateY(-200px) rotateX(90deg);
    }
}

#left {
    transform: translateX(-100px) rotateY(-90deg);
    @media only screen and (min-width: 576px) {
        transform: translateX(-200px) rotateY(-90deg);
    }
}

#right {
    transform: translateX(100px) rotateY(90deg);
    @media only screen and (min-width: 576px) {
        transform: translateX(200px) rotateY(90deg);
    }
}

/* CUSTOMIZE */

#front img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

#top {
    background: transparent !important;
}

#left {
    background-image: url(../../futebol/images/fundo_mobile.png) !important;
    cursor: pointer;
}

#right {
    background-image: url(../../evento/images/fundo.jpg) !important;
    cursor: pointer;
}