@-webkit-keyframes rotateY {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
            transform: rotateY(0deg) rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg) rotateX(22deg);
            transform: rotateY(180deg) rotateX(22deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(0deg);
            transform: rotateY(360deg) rotateX(0deg);
  }
}

@keyframes rotateY {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
            transform: rotateY(0deg) rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg) rotateX(22deg);
            transform: rotateY(180deg) rotateX(22deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(0deg);
            transform: rotateY(360deg) rotateX(0deg);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#fullscreen {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../images/fundo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial;
}

#container {
  padding: 100px;
  display: inline-block;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-perspective: 1600px;
          perspective: 1600px;
  -webkit-perspective-origin: center center;
          perspective-origin: center center;
}

#cube {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: rotateY 10s;
          animation: rotateY 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@media only screen and (min-width: 576px) {
  #cube {
    width: 400px;
    height: 400px;
    -webkit-animation: rotateY 15s;
            animation: rotateY 15s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
}

#cube:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 50%;
  width: 220px;
  height: 220px;
  -webkit-transform: translateX(-50%) translateY(175px) rotateX(90deg) rotateY(-180deg);
          transform: translateX(-50%) translateY(175px) rotateX(90deg) rotateY(-180deg);
}

@media only screen and (min-width: 576px) {
  #cube:after {
    width: 425px;
    height: 425px;
    -webkit-transform: translateX(-50%) translateY(350px) rotateX(90deg) rotateY(-180deg);
            transform: translateX(-50%) translateY(350px) rotateX(90deg) rotateY(-180deg);
  }
}

#cube.paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#cube .cube-face {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#cube .cube-face .text-container {
  width: 80%;
  height: 80%;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 576px) {
  #cube .cube-face .text-container {
    width: 50%;
    height: 50%;
  }
}

#cube .cube-face .text-container .date {
  font-size: larger;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}

#front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

@media only screen and (min-width: 576px) {
  #front {
    -webkit-transform: translateZ(200px);
            transform: translateZ(200px);
  }
}

#back {
  -webkit-transform: translateZ(-100px) rotateY(180deg);
          transform: translateZ(-100px) rotateY(180deg);
}

@media only screen and (min-width: 576px) {
  #back {
    -webkit-transform: translateZ(-200px) rotateY(180deg);
            transform: translateZ(-200px) rotateY(180deg);
  }
}

#bottom {
  -webkit-transform: translateY(100px) rotateX(90deg) rotateY(-180deg);
          transform: translateY(100px) rotateX(90deg) rotateY(-180deg);
}

@media only screen and (min-width: 576px) {
  #bottom {
    -webkit-transform: translateY(200px) rotateX(90deg) rotateY(-180deg);
            transform: translateY(200px) rotateX(90deg) rotateY(-180deg);
  }
}

#top {
  -webkit-transform: translateY(-100px) rotateX(90deg);
          transform: translateY(-100px) rotateX(90deg);
}

@media only screen and (min-width: 576px) {
  #top {
    -webkit-transform: translateY(-200px) rotateX(90deg);
            transform: translateY(-200px) rotateX(90deg);
  }
}

#left {
  -webkit-transform: translateX(-100px) rotateY(-90deg);
          transform: translateX(-100px) rotateY(-90deg);
}

@media only screen and (min-width: 576px) {
  #left {
    -webkit-transform: translateX(-200px) rotateY(-90deg);
            transform: translateX(-200px) rotateY(-90deg);
  }
}

#right {
  -webkit-transform: translateX(100px) rotateY(90deg);
          transform: translateX(100px) rotateY(90deg);
}

@media only screen and (min-width: 576px) {
  #right {
    -webkit-transform: translateX(200px) rotateY(90deg);
            transform: translateX(200px) rotateY(90deg);
  }
}

/* CUSTOMIZE */
#front img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

#top {
  background: transparent !important;
}

#left {
  background-image: url(../../futebol/images/fundo_mobile.png) !important;
  cursor: pointer;
}

#right {
  background-image: url(../../evento/images/fundo.jpg) !important;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */