html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/background.webp");
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial;
  color: white;
}

#container {
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#container #team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 350px;
}

@media screen and (min-width: 768px) {
  #container #team {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  #container #team {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 900px;
  }
}

@media screen and (min-width: 1700px) {
  #container #team {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 1600px;
  }
}

#container #team .row {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container #team .row .status-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

#container #team .row .status-container .status {
  padding: 10px 0;
  width: 50px;
  text-align: center;
  overflow: hidden;
}

#container #team .row .status-container .status:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#container #team .row .status-container .status:first-child.active {
  background-color: darkred;
}

#container #team .row .status-container .status:nth-child(2) {
  border: 1px solid white;
  border-bottom: none;
  border-top: none;
}

#container #team .row .status-container .status:nth-child(2).active {
  background-color: black;
}

#container #team .row .status-container .status:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#container #team .row .status-container .status:last-child.active {
  background-color: darkgreen;
}

#container .logo {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */