html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../images/background.webp');
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    color: white;
}

#container {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    user-select: none;

    #team {
        display: grid;
        grid-template-columns: 1fr;
        width: 350px;
        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            width: 700px;
        }
        @media screen and (min-width: 992px) {
            grid-template-columns: 1fr 1fr 1fr;
            width: 900px;
        }
        @media screen and (min-width: 1700px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            width: 1600px;
        }

        .row {
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .status-container {
                display: flex;
                border: 1px solid white;
                border-radius: 5px;
                cursor: pointer;

                .status {
                    padding: 10px 0;
                    width: 50px;
                    text-align: center;
                    overflow: hidden;

                    &:first-child {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        &.active {
                            background-color: darkred;
                        }
                    }

                    &:nth-child(2) {
                        border: 1px solid white;
                        border-bottom: none;
                        border-top: none;
                        &.active {
                            background-color: black;
                        }
                    }

                    &:last-child {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        &.active {
                            background-color: darkgreen;
                        }
                    }
                }
            }
        }
    }


    .logo {
        width: 80%;
        max-width: 500px;
        margin: 0 auto;
    }
}